.button{
    -fx-pref-height: 40;
    -fx-font-size: 12pt;
    -fx-alignment: center;
}

.mainText{
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: white;
    -fx-fill: black;
    -fx-font-size: 30pt;
    margin: auto;
}