.button{
    -fx-pref-width: 80;
    -fx-pref-height: 30;
}

.play:pressed{
    -fx-background-color: blue;
}

.allButtons{
    -fx-alignment: center;
    -fx-spacing: 15px;
}

.speedSlider{
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.aboutBox{
    -fx-pref-height: 650;
    -fx-max-width: 150;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.rightBox{
    -fx-pref-height: 650;
    -fx-max-width: 60;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.buttonBox{
    -fx-border-color: black;
    -fx-fill: light gray;
}

.title{
    -fx-alignment: top;
    -fx-font-size: 20;
}

.info{
    -fx-font-size: 12;
}

.GameOfLife0{
    -fx-fill: darkgray;
}
.GameOfLife1{
    -fx-fill: green;
}
.Fire0{
    -fx-fill: yellow;
}
.Fire1{
    -fx-fill: green;
}
.Fire2{
    -fx-fill: red;
}
.SpreadingOfFire0{
    -fx-fill: yellow;
}
.SpreadingOfFire1{
    -fx-fill: green;
}
.SpreadingOfFire2{
    -fx-fill: red;
}
.Percolation0{
    -fx-fill: white;
}
.Percolation1{
    -fx-fill: blue;
}
.Percolation2{
    -fx-fill: black;
}
.Segregation0{
    -fx-fill: white;
}
.Segregation1{
    -fx-fill: red;
}
.Segregation2{
    -fx-fill: blue;
}
.WatorWorld0{
    -fx-fill: lightblue;
}
.WatorWorld1{
    -fx-fill: orange;
}
.WatorWorld2{
    -fx-fill: darkblue;
}
.WatorWorld3{
    -fx-fill: darkblue;
}
.RockPaperScissors0{
    -fx-fill: darkgray;
}
.RockPaperScissors1{
    -fx-fill: black;
}
.RockPaperScissors2{
    -fx-fill: white;
}
.RockPaperScissors3{
    -fx-fill: green;
}

