.button{
    -fx-pref-width: 80;
    -fx-pref-height: 30;
}

.play:pressed{
    -fx-background-color: blue;
}

.allButtons{
    -fx-alignment: center;
    -fx-spacing: 15px;
}

.slider{
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.aboutBox{
    -fx-pref-height: 650;
    -fx-max-width: 150;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.rightBox{
    -fx-pref-height: 650;
    -fx-max-width: 60;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.buttonBox{
    -fx-border-color: black;
    -fx-fill: light gray;
}

.title{
    -fx-alignment: top;
    -fx-font-size: 20;
}

.info{
    -fx-font-size: 12;
}

.GameOfLife0{
    -fx-fill: darkgray;
}
.GameOfLife1{
    -fx-fill: green;
}