.button{
    -fx-pref-width: 100;
    -fx-pref-height: 30;
}

.play:pressed{
    -fx-background-color: blue;
}

.allbuttons{
    -fx-alignment: bottom-center;
    -fx-spacing: 15px;
}

.aboutbox{
    -fx-pref-height: 650;
    -fx-max-width: 150;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.rightbox{
    -fx-pref-height: 650;
    -fx-max-width: 60;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.buttonbox{
    -fx-border-color: black;
    -fx-fill: light gray;
}

.exitbox{
    -fx-spacing: 600;
}

.title{
    -fx-alignment: top;
    -fx-font-size: 20;
}

.info{
    -fx-font-size: 12;
}

.GameOfLife0{
    -fx-fill: darkgray;
}
.GameOfLife1{
    -fx-fill: green;
}