.startSelectLanguage{
    -fx-font-size: 14pt;
    -fx-fill: black;
    -fx-alignment: center;
}
.button{
    -fx-pref-height: 40;
    -fx-pref-width: 100;
    -fx-font-size: 12pt;
}

.allButtons{
    -fx-alignment: bottom-center;
    -fx-spacing: 30px;
}

.mainTitle{
    -fx-alignment: center;
    -fx-fill: white;
    -fx-font-size: 48pt;
}